@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">How to Code Defensively in C Sharp</h1>
        <p class="lead">The Code You Need to Know</p>
            <p><a href="https://iamwajidkhan.com" class="btn btn-primary btn-md" target="_blank">iAmWajidKhan.com &raquo;</a></p>
</section>

    <div class="row">       
        <section class="col-md-12" aria-labelledby="librariesTitle">
            <h2 style="font-weight: 800" id="librariesTitle">Calculated Net Weight= @ViewBag.calculatedNetWeight Tonnes</h2>
            <p>Calculate the Vehicle Net Weight based on Gross Weight and Tare Weight While Visiting the Weighbridge</p>
            <p><a class="btn btn-outline-dark" href="https://blog.iamwajidkhan.com" target="_blank">Blog &raquo;</a></p>
        </section>
      
    </div>
</main>